.root {
    -fx-font-family: sans-serif;
}

.main-menu {
    -fx-background-color: #26c6d8;
}

.main-menu-active {
    -fx-background-color: #6ff9ff;
}

.top-bar {
    -fx-background-color:#26c6d8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 4)
}

.sub-main-menu {
    -fx-background-color: #6ff9ff;
    -fx-padding:5;
}

AnchorPane.sub-main-menu {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 4, 4);
}

Label.main-menu {
    -fx-padding:10, 20, 10, 20;
    -fx-font-size: 34;
    -fx-text-alignment: center;
    -fx-margin:0, 10,0,10;
}

Label.main-menu-active {
    -fx-padding:10, 20, 10, 20;
    -fx-font-size: 34;
    -fx-text-alignment: center;
}

Button {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 4, 4);
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, -4, -4);
    -fx-background-color: #26c6d8;
    -fx-padding: 5;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

Button.image {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
}

Button.main-menu {
    -fx-background-color: #6ff9ff;
    -fx-font-size: 24;
    -fx-font-weight: normal;
}

Label.grid-item {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 24;
    -fx-wrap-text: true;
}

Label.low-stock {
    -fx-background-color: #B00020;
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF;
    -fx-wrap-text: true;
}

StackPane.grid-item {
    -fx-background-color: #8e8e8e;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 4);
    -fx-border-color: black;
    -fx-border-width: 1;
}

Label.large-text {
    -fx-font-size: 24;
}

